<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div id="Add_component" class="div_component" style="display:none;">
<% unless addcomps.nil? %>
  <div id="accordion">
    <% all_procs.each { |procname| %>
      <h3>
        <%= image_tag "taverna_lite/brick_add.png", :alt => "Add Component"%>
        Connect a component to <%= procname %>
        <%= button_tag image_tag('taverna_lite/help.png'),
          :id=>"add_component_opener_#{procname}", :style=>"padding: 0;
          border: none; background: none;float: right;",
          :alt => "Add Component Help" %>
      </h3>
      <div>
        <% addcomps[procname].each {|item| %>
          <% unless(item[:connects_to].nil?) %>
          <%= render :partial => "taverna_lite/workflow_components/add_component_form",
            :locals => {:workflow => workflow, :item=>item,
            :procname => procname, :all_procs => @processor_names} %>
          <% else %>
             There are no components available to connect
          <% end %>
        <% } %>
      </div>
    <% } %>
  </div>
  <% all_procs.each { |procname| %>
    <div id="add_component_dialog_<%= "#{procname}" -%>"  title="Add Outputs">
      <%= render(
        :partial=>'taverna_lite/workflow_components/add_component_instructions')%>
    </div>
    <script>
      $("#add_component_dialog_<%="#{procname}"-%>" ).dialog({
        autoOpen: false,
        position: {
            my: "right",
            at: "right",
            of: window
        }
      });
      $( "#add_component_opener_<%= "#{procname}" -%>" ).click(function() {
        $("#add_component_dialog_<%= "#{procname}" -%>" ).dialog( "open" );
        return false;
      });
    </script>
  <% } %>
<% end %>
</div>
<script>
  $(function() {
    $( "#accordion" ).accordion({active: true, collapsible: true, heightStyle: "content"});
  });
</script>
