<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div id="Add_component" class="div_component" style="display:none;">
<% unless addcomps.nil? %>
  <div id="accordion">
    <h3>Available Components</h3>
      <div>
        List of Additional Components </br>
        <% all_procs.each do |procname| %>
          <% prev_comp = prev_ver = prev_fam = prev_reg = prev_id = prev_des = nil
             ver_list = {} %>
          <% addcomps[procname].each do |item| %>
            <% current_comp = item[0].name
               current_ver = item[0].version
               current_fam = item[0].family
               current_reg = item[0].registry
               current_des = item[1].title
               current_id = item[0].id
               %>
            <% if prev_comp.nil?
               prev_comp = item[0].name
               prev_ver = item[0].version
               prev_fam = item[0].family
               prev_reg = item[0].registry
               prev_id = item[0].id
               prev_des =  item[1].title
               ver_list = {prev_ver=>prev_id}
               end %>
            <% if current_comp == prev_comp && current_fam == prev_fam && current_reg == prev_reg %>
              <% ver_list[current_ver] = current_id %>
            <% else %>
              <div class="embeddable" id="<%= prev_comp %>">
                <span style="float: left;width:20%">
                  <%= image_tag "taverna_lite/taverna-component.png",
                    :size => "48x48", :alt => "<<COMPONENT>>",
                    :class=>"componenticon" %>
                </span> <!--image div -->
                  <b>
                    <%= radio_button_tag("add_to_#{procname}", prev_comp) %>
                    <%= prev_comp %></b> <br/>
                  <b>Version: </b>
                  <%= select_tag "replace_#{prev_comp}_ver",
                    options_for_select(ver_list)  %><br/>
                  <b>Family: </b><%= prev_fam %><br/>
                  <b>Registry: </b><%= prev_reg %><br/>
                  <b>Description: </b><%= prev_des %><br/>
              </div><!--component alternative div-->
              <% prev_comp = item[0].name
                 prev_ver = item[0].version
                 prev_fam = item[0].family
                 prev_reg = item[0].registry
                 prev_id = item[0].id
                 prev_des =  item[1].description
                 ver_list = {prev_ver=>prev_id}
                 %>
            <% end %>
          <% end %>
          <% unless prev_comp.nil? %>
             <div class="embeddable" id="<%= prev_comp %>">
                <span style="float: left;width:20%">
                  <%= image_tag "taverna_lite/taverna-component.png",
                    :size => "48x48", :alt => "<<COMPONENT>>",
                    :class=>"componenticon" %>
                </span> <!--image div -->
                  <b>
                    <%= radio_button_tag("add_to_#{procname}", prev_comp) %>
                    <%= prev_comp %></b> <br/>
                  <b>Version: </b>
                  <%= select_tag "replace_#{prev_comp}_ver",
                    options_for_select(ver_list)  %><br/>
                  <b>Family: </b><%= prev_fam %><br/>
                  <b>Registry: </b><%= prev_reg %><br/>
                  <b>Description: </b><%= prev_des %><br/>
              </div><!--component alternative div-->
          <% end %>
          <%= "COMPONENTS: " + addcomps[procname].count.to_s %> </br>
          <% ver_list = {} %>
          <% addcomps[procname].each do |item| %>
            <% current_comp = item[0].name
               current_ver = item[0].version
               current_fam = item[0].family
               current_reg = item[0].registry
               current_des = item[1].description
               current_id = item[0].id
               if ver_list.empty? then
                 prev_comp = current_comp
                 prev_ver = current_ver
                 prev_fam = current_fam
                 prev_reg = current_reg
                 prev_id = current_id
                 prev_des =  current_des
                 ver_list = {prev_ver=>prev_id}
               elsif (current_comp == prev_comp && current_fam == prev_fam && current_reg == prev_reg)  then
                 ver_list[current_ver] = current_id
               else %>
                 <%= "Component: " + prev_comp + " versions " + ver_list.count.to_s %> </br>
                 <%= "Family: " + prev_fam %> </br>
                 <%= "Registry: " + prev_reg %> </br>
                 <% prev_comp = current_comp
                 prev_ver = current_ver
                 prev_fam = current_fam
                 prev_reg = current_reg
                 prev_id = current_id
                 prev_des =  current_des
                 ver_list = {prev_ver=>prev_id} %>
              <% end %>
            <% end %>
        <% end %>
      </div>
  </div>
<% end %>
</div>
<script>
  $(function() {
    $( "#accordion" ).accordion({active: true, collapsible: true, heightStyle: "content"});
  });
</script>
