<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div>
<%= form_for :processor_annotations,
      :url =>{:controller => 'workflow_profiles', :action => 'annotate_processor'},
      :method => :put, :disable_with => "Saving..." do |f| -%>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <%= hidden_field_tag "selected_tab", 'components' %>
  <%= hidden_field_tag "selected_choice", 'component' %>
  <%= f.hidden_field "processor_name", :value =>  processor.name %>
  <div class='basic_annotation'>
  <dl class='list_any'>
    <dt class='list_title'>Name:</dt>
    <dd class='list_description'>
      <%= f.text_field "name_for_#{processor.name}", :value => processor.name,
        :onkeyup=>"validate_name(this.id);", :style =>'width:95%'%>
      <% alert_msg = "Name can only contain letters (a-z,A-Z)" +
          ", numbers (0-9) and underscore(_)" %>
      <%= content_tag :span, alert_msg, :id=>"error_for_processor_annotations_name_for_#{processor.name}", :class=>"warning_message", :style=>"display:none" %>
    </dd>
    <dt class='list_title'>Description:</dt>
    <dd class='list_description'>
      <%= f.text_area "description_for_#{processor.name}",
        :value => processor.description, :rows => 3, :style =>'width:95%'  %>
    </dd>
   <dt class='list_title'>Processor Type</dt>
   <dd class='list_description'>
     <%= processor.type %>
   </dd>
  </dl>
  </div><!--Basic Anotations div-->
  <%= image_tag "taverna_lite/output_add.png", :alt => "Add Outputs"%>
  <span class="more_options">Add Outputs</span>
  <%= link_to image_tag('taverna_lite/unfold.png'),
    "javascript:hide_show_div('advanced_#{processor.name}', 'switch_#{processor.name}');",
    :id=>"switch_#{processor.name}",
    :title=>"show advanced options", :alt=>"show advanced options" -%>
  <div id="advanced_<%= processor.name %>" class='advanced_annotation'
    style="display:none">
    <span class="more_options">processor outputs
      <%= proc_outs[processor.name][:ports].count%></span>
    <table class="processor_out_ports">
      <tr>
        <th>port</th>
        <th>Connected to</th>
        <th>Add New Output</th>
      </tr>
      <% proc_ports = "" %>
      <% proc_outs[processor.name][:ports].each do |port_k,port_v|
        portname = port_k
        unless proc_ports==""
          proc_ports += "," + portname
        else
          proc_ports = portname
        end
        %>
        <tr class="<%= cycle("", "alt")%>">
          <td><%= port_k %></td>
          <td>
            <% port_v[:connections].each do |c| %>
              <%= unless c == "" then c else "NOT CONNECTED"end%>
              <br/>
            <% end %>
          </td>
          <td>
            <%= f.check_box "add_#{portname}", :checked => false %>
            <%= image_tag "taverna_lite/add.png", :alt => "Add Output"%><br/>
            <b>Output Name:</b>
            <%= f.text_field "name_for_port_#{portname}",
              :value => processor.name+"_"+portname, :style =>'width:95%' %>
            <b>Output Description</b>
            <%= f.text_area "description_for_port_#{portname}", :value => port_v[:description],
              :rows => 3, :style =>'width:95%'  %>
             <b>Output Example Value</b>
             <%= f.text_area "example_for_port_#{portname}", :value => port_v[:example],
               :rows => 3, :style =>'width:95%'  %>
           </td>
         </tr>
         <%= f.hidden_field "#{processor.name}_#{portname}", :value =>  port_k %>
      <% end %>
      <%= f.hidden_field "#{processor.name}_ports", :value =>  proc_ports %>
    </table>
  </div><!--Advanced Anotations div-->
  <div title="Save annotation" alt="Save annotation" style="float:right; padding:10px;">
    <%= submit_tag 'Save' %>
  </div>
<% end -%> <!--form-->
<script>
  $('form').submit(function() {
    if (!ValidateForm()){
      return false; // prevents normal behaviour
    }
  });
 </script>
</div><!--Processor Annotations div-->
