<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div>
<%= form_for :processor_annotations,
      :url =>{:controller => 'workflow_profiles', :action => 'annotate_processor'},
      :method => :put, :disable_with => "Saving..." do |f| -%>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <%= hidden_field_tag "selected_tab", 'components' %>
  <%= hidden_field_tag "selected_choice", 'component' %>
  <%= f.hidden_field "processor_name", :value =>  processor.name %>
  <dl class='list_any'>
    <dt class='list_title'>Name:</dt>
    <dd class='list_description'>
      <%= f.text_field "name_for_#{processor.name}", :value => processor.name,
        :onclick => '$(this).select();', :style =>'width:95%'  %>
    </dd>
    <dt class='list_title'>Description:</dt>
    <dd class='list_description'>
      <%= f.text_area "description_for_#{processor.name}", :value => processor.description, :rows => 3,
        :onclick => '$(this).select();', :style =>'width:95%'  %>
    </dd>
   <dt class='list_title'>Processor Type</dt>
   <dd class='list_description'>
     <%= processor.type %>
   </dd>
  </dl>
  processor outputs <%= proc_outs[processor.name][:ports].count%><br/>
  <% proc_outs[processor.name][:ports].each do |port_k,port_v| %>
    Port Name: <%= port_k %> connected <%= if port_v[:connections].count then true else false end %>
    <% port_v[:connections].each do |c| %><%= c.split(':') %><% end %><br/>
  <% end %>
  <div title="Save annotation" alt="Save annotation" style="float:right; padding:10px;">
    <%= submit_tag 'Save' %>
  </div>
<% end -%> <!--form-->
</div><!--Processor Annotations div-->
