<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>

<div>
<%= form_for :processor_annotations,
      :url =>{:controller => 'workflow_profiles', :action => 'annotate_processor'},
      :method => :put, :disable_with => "Saving..." do |f| -%>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <%= hidden_field_tag "selected_tab", 'components' %>
  <%= hidden_field_tag "selected_choice", 'component' %>
  <%= f.hidden_field "processor_name", :value =>  processor.name %>
  <div id="annotate_<%= processor.name %>" >
    <h3>
      <%= image_tag "taverna_lite/pencil.png", :alt => "(Edit)"%>
      Annotate processor
      <%= button_tag image_tag('taverna_lite/help.png'),
        :id=>"edit_opener_#{processor.name}", :style=>"padding: 0; border: none;
        background: none; float: right;", :alt => "Annotate Processor Help" %>
    </h3>
    <div>
      <dl class='list_any'>
        <dt class='list_title'>Name:</dt>
        <dd class='list_description'>
          <%p_names = "'"+(all_procs-[processor.name]).join(",")+"'" %>
          <%= f.text_field "name_for_#{processor.name}", :value => processor.name,
            :onkeyup=>"validate_name(this.id,#{p_names});", :style =>'width:95%'%>
          <%= content_tag(:span, "ERROR",
            :id=>"error_for_processor_annotations_name_for_#{processor.name}",
            :class=>"warning_message", :style=>"display:none") %>
        </dd>
        <dt class='list_title'>Description:</dt>
        <dd class='list_description'>
          <%= f.text_area "description_for_#{processor.name}",
            :value => processor.description, :rows => 3, :style =>'width:95%'  %>
        </dd>
        <dt class='list_title'>Processor Type</dt>
        <dd class='list_description'>
          <%= processor.type %>
        </dd>
      </dl>
    </div><!--Basic Anotations div-->
    <% unless proc_outs[processor.name][:ports].nil? -%>
      <h3>
        <%= image_tag "taverna_lite/output_add.png", :alt => "Add Outputs"%>
        Add Outputs
        <%= button_tag image_tag('taverna_lite/help.png'),
          :id=>"add_output_opener_#{processor.name}", :style=>"padding: 0;
          border: none; background: none;float: right;",
          :alt => "Add Output Help" %>
      </h3>
      <div>
        <span class="more_options">processor outputs
          <%= proc_outs[processor.name][:ports].count%></span>
        <table class="processor_out_ports">
          <tr>
            <th>port</th>
            <th>Connected to</th>
            <th>Add New Output</th>
          </tr>
          <% proc_ports = "" %>
          <% proc_outs[processor.name][:ports].each do |port_k,port_v|
            portname = port_k
            unless proc_ports==""
              proc_ports += "," + portname
            else
              proc_ports = portname
            end
            %>
            <tr class="<%= cycle("", "alt")%>">
              <td><%= port_k %></td>
              <td>
                <% port_v[:connections].each do |c| %>
                  <%= unless c == "" then c.include?(":") ? "Component: " +
                    c.split(":")[0] + " Port: " +
                    c.split(":")[1] : "Workflow Output: " + c end%> <br/>
                  <br/>
                <% end %>
              </td>
              <td>
                <%= f.check_box "add_#{portname}", :checked => false %>
                <%= image_tag "taverna_lite/add.png", :alt => "Add Output"%><br/>
                <b>Output Name:</b>
                <% o_names = "'"+(@output_names-[portname]).join(",")+"'"
                   new_name = processor.name+"_"+portname
                   begin
                     if @output_names.include?(new_name)
                       new_name = new_name  + "_new"
                     end
                   end while (@output_names.include?(new_name)) -%>
                <%= f.text_field "name_for_port_#{portname}",
                  :value => new_name,
                  :onkeyup=>"validate_name(this.id,#{o_names});", :style =>'width:95%' %>
                <%= content_tag(:span, "ERROR",
                 :id=>"error_for_processor_annotations_name_for_port_#{portname}",
                 :class=>"warning_message", :style=>"display:none") %><br/>
                <b>Output Description</b>
                <%= f.text_area "description_for_port_#{portname}", :value => port_v[:description],
                  :rows => 3, :style =>'width:95%'  %><br/>
                 <b>Output Example Value</b>
                 <%= f.text_area "example_for_port_#{portname}", :value => port_v[:example],
                   :rows => 3, :style =>'width:95%'  %>
               </td>
             </tr>
             <%= f.hidden_field "#{processor.name}_#{portname}", :value =>  port_k %>
          <% end %>
          <%= f.hidden_field "#{processor.name}_ports", :value =>  proc_ports %>
        </table>
      </div><!--Advanced Anotations div-->
    <% else %>
      This processor has no outputs
    <% end -%>
    <% unless (@component_alternatives.nil? ||
      @component_alternatives[processor.name].nil? ||
      @component_alternatives[processor.name].count == 0) %>
      <h3>
        <%= image_tag "taverna_lite/arrow_switch.png", :alt => "Swap Component"%>
        Swap Component
        <%= button_tag image_tag('taverna_lite/help.png'),
          :id=>"swap_opener_#{processor.name}", :style=>"padding: 0;
          border: none; background: none; float: right;",
          :alt => "Swap Component Help" %>
      </h3>
      <div>
      <!-- present the alternative components -->
      <% prev_comp = comp_in_proc.name
         prev_fam = comp_in_proc.family
         prev_reg = comp_in_proc.registry
         prev_ver = sel_version = comp_in_proc.version
         prev_id =  comp_in_proc.id
         prev_des = comp_in_proc.workflow.title %>
      <% ver_list = {sel_version=>comp_in_proc.id}%>

      <% @component_alternatives[processor.name].each do |item| %>
        <% current_comp = item[0].name
           current_ver = item[0].version
           current_fam = item[0].family
           current_reg = item[0].registry
           current_des = item[1].description
           current_id = item[0].id
           %>
        <% if current_comp == prev_comp && current_fam == prev_fam && current_reg == prev_reg %>
          <% ver_list[current_ver] = item[0].id %>
        <% else %>
          <div class="replaceable" id="<%= prev_comp %>">
            <span style="float: left;width:20%">
              <%= image_tag "taverna_lite/taverna-component.png",
                :size => "48x48", :alt => "<<COMPONENT>>",
                :class=>"componenticon" %>
            </span> <!--image div -->
              <b>
                <%= f.radio_button("replace_#{processor.name}", prev_comp) %>
                <%= prev_comp %></b> <br/>
              <b>Version: </b><%= f.select "replace_#{prev_comp}_ver", ver_list.map{|vs| [vs[0],vs[1]]}  %><br/>
              <b>Family: </b><%= prev_fam %><br/>
              <b>Registry: </b><%= prev_reg %><br/>
              <b>Description: </b><%= prev_des %><br/>
          </div><!--component alternative div-->
          <% prev_comp = item[0].name
           prev_ver = item[0].version
           prev_fam = item[0].family
           prev_reg = item[0].registry
           prev_id = item[0].id
           prev_des =  item[1].description
           ver_list = {prev_ver=>prev_id}
           %>
        <% end%>
      <% end %>
                <div class="replaceable" id="<%= prev_comp %>">
            <span style="float: left;width:20%">
              <%= image_tag "taverna_lite/taverna-component.png",
                :size => "48x48", :alt => "<<COMPONENT>>",
                :class=>"componenticon" %>
            </span> <!--image div -->
              <b>
                <%= f.radio_button("replace_#{processor.name}", prev_comp) %>
                <%= prev_comp %></b><br/>
              <b>Version: </b> <%= f.select "replace_#{prev_comp}_ver", ver_list.map{|vs| [vs[0],vs[1]]}  %><br/>
              <b>Family:</b><%= prev_fam %><br/>
              <b>Registry: </b><%= prev_reg %><br/>
              <b>Description: </b><%= prev_des %><br/>
          </div><!--component alternative div-->
      </div>
    <%end%>
    <% unless (comp_in_proc.nil?) %>
      <h3>
        <%= image_tag "taverna_lite/brick_delete.png", :alt => "Remove"%>
        Remove Component
        <%= button_tag image_tag('taverna_lite/help.png'),
          :id=>"remove_opener_#{processor.name}", :style=>"padding: 0;
          border: none; background: none; float: right;",
          :alt => "Remove Component Help" %>
      </h3>
      <div>
      <!-- present info about the efects of deleting component -->
      This component can be removed.<br/>
      <%= image_tag "taverna_lite/warn_sign.png", :alt => "WARNING: "%>
      Removing this component will cause the removal of
      all components and workflow outputs connected to it downstream.<br/>
      See list of connections below<br/>
      <% unless proc_outs[processor.name][:ports].nil? -%>
        <span class="more_options">processor outputs
          <%= proc_outs[processor.name][:ports].count%></span>
        <table class="processor_out_ports">
          <tr>
            <th>port</th>
            <th>Connected to</th>
          </tr>
          <% proc_ports = "" %>
          <% proc_outs[processor.name][:ports].each do |port_k,port_v|
            portname = port_k
            unless proc_ports==""
              proc_ports += "," + portname
            else
              proc_ports = portname
            end
            %>
            <tr class="<%= cycle("", "alt")%>">
              <td><%= port_k %></td>
              <td>
                <% port_v[:connections].each do |c| %>
                  <%= unless c == "" then c.include?(":") ? "Component: " +
                    c.split(":")[0] + " Port: " +
                    c.split(":")[1] : "Workflow Output: " + c end%> <br/>
                <% end %>
              </td>
             </tr>
             <%= f.hidden_field "#{processor.name}_#{portname}", :value =>  port_k %>
          <% end %>
          <%= f.hidden_field "#{processor.name}_ports", :value =>  proc_ports %>
        </table>
        <div style ='float:right;'>
        <%= form_for 'remove_#{componentname}',
          :url => {:controller => 'workflow_components', :action => 'remove'},
          :html => {:multipart => true}, :disable_with => "Saving..."  do |f| %>
          <%= hidden_field_tag "processor_name", processor.name %>
          <%= hidden_field_tag "workflow_id", @workflow.id %>
          <span title="Remove selected component"
            alt="Remove selected component"
            style="float:center; padding:5px;margin-top: 3px;">
               <%= submit_tag 'remove' %>
          </span> <!--buton div -->
        <% end -%> <!--form-->
        </div>
    <% else %>
      This processor has no outputs
    <% end -%>
      </div>
    <%end%>
  </div>

  <div title="Save annotation" alt="Save annotation" style="float:right; padding:10px;">
    <%= submit_tag 'Save' %>
  </div>
<% end -%> <!--form-->
  <div id="edit_dialog_<%= "#{processor.name}" -%>" title="Annotate Processor">
    <%= render(
      :partial=>'taverna_lite/workflow_components/annotation_instructions')%>
  </div>
  <div id="add_output_dialog_<%= "#{processor.name}" -%>"
   title="Add Outputs">
    <%= render(
      :partial=>'taverna_lite/workflow_components/add_output_instructions')%>
  </div>
  <div id="swap_dialog_<%= "#{processor.name}" -%>"
   title="Swap Component Help">
    <%= render(
      :partial=>'taverna_lite/workflow_components/swap_instructions')%>
  </div>
  <div id="remove_dialog_<%= "#{processor.name}" -%>"
   title="Remove Component Help">
    <%= render(
      :partial=>'taverna_lite/workflow_components/remove_instructions')%>
  </div>
<script>
  $('form').submit(function() {
    if (!ValidateForm()){
      return false; // prevents normal behaviour
    }
  });
  $( "#edit_dialog_<%= "#{processor.name}" -%>" ).dialog({
    autoOpen: false,
    position: {
            my: "right",
            at: "right",
            of: window
        }
  });
  $( "#edit_opener_<%= "#{processor.name}" -%>" ).click(function() {
    $("#edit_dialog_<%= "#{processor.name}" -%>" ).dialog( "open" );
    return false;
  });
  $( "#add_output_dialog_<%= "#{processor.name}" -%>" ).dialog({
    autoOpen: false,
    position: {
            my: "right",
            at: "right",
            of: window
        }
  });
  $( "#add_output_opener_<%= "#{processor.name}" -%>" ).click(function() {
    $("#add_output_dialog_<%= "#{processor.name}" -%>" ).dialog( "open" );
    return false;
  });
  $( "#swap_dialog_<%= "#{processor.name}" -%>" ).dialog({
    autoOpen: false,
    position: {
            my: "right",
            at: "right",
            of: window
        }
  });
  $( "#swap_opener_<%= "#{processor.name}" -%>" ).click(function() {
    $("#swap_dialog_<%= "#{processor.name}" -%>" ).dialog( "open" );
    return false;
  });
  $( "#remove_dialog_<%= "#{processor.name}" -%>" ).dialog({
    autoOpen: false,
    position: {
            my: "right",
            at: "right",
            of: window
        }
  });
  $( "#remove_opener_<%= "#{processor.name}" -%>" ).click(function() {
    $("#remove_dialog_<%= "#{processor.name}" -%>" ).dialog( "open" );
    return false;
  });
  $( "#annotate_<%= "#{processor.name}" -%>" ).accordion({
    active: false, collapsible: true, heightStyle: "content" });
</script>
</div><!--Processor Annotations div-->
