<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite  is a prototype interface to Taverna Server which is
# provided to support easy inspection and execution of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>

<div id="edit_components" style="min-height:300px; height:auto !important;
                               height:300px;">
<div id="component_details" style="float: right; width: 74%;  border: solid 1px #3300CC;">

<% if @processors.count>0 %>
<p id="feedback">
  This workflow has:<br/>
  - <%= @processors.count %> <%= "Processors".pluralize(@processors.count)%><br/>
  - <%= @sources.count %> <%= "Input".pluralize(@sources.count)%><br/>
  - <%= @sinks.count %> <%= "Output".pluralize(@sinks.count)%>
</p>
<p id="feedback">
  <span>You've selected:</span> <span id="select-result">none</span>
</p>
</div>
<div id="component_list" style="float: left; width: 24%; border: solid 1px #3300CC;">
<ol id="selectable">
  <%if @sources.count > 0 %>
    <li class="ui-widget-content"  id="Inputs">
      <div style="float: left;width:20%">
        <%= image_tag "taverna_lite/inputport.png", :size => "48x48", :alt => "input" %>
      </div>
      <div class="desc_div">
        <b><< Inputs >></b> <br/>
      </div>
    </li>
 <% end %>
 <% for i in 0..@ordered_processors.count-1 %>
   <% item = @ordered_processors[i] %>
   <% componentname = item.name %>
   <li class="ui-widget-content" id="<%= item.name%>">
     <div style="float: left;width:20%">
       <% if item.type=="rshell" %>
         <%= image_tag "taverna_lite/rlogo.png", :size => "48x48", :alt => "R-Server",
             :class=>"componenticon"%>
       <%elsif item.type =="workflow"%>
         <%= image_tag "taverna_lite/nestedwf.png", :size => "48x48",
             :alt => "Workflow", :class=>"componenticon" %>
       <% elsif item.type=="stringconstant" %>
         <%= image_tag "taverna_lite/stringconstant.png", :size => "48x48",
            :alt => "constant", :class=>"componenticon" %>
       <%elsif item.type =="localworker"%>
         <%= image_tag "taverna_lite/localworker.png", :size => "48x48", :alt => "worker",
            :class=>"componenticon" %>
       <%elsif item.type =="interaction"%>
         <%= image_tag "taverna_lite/interaction.png", :size => "48x48", :alt =>"interaction",
             :class=>"componenticon" %>
       <%elsif item.type =="wsdl"%>
         <%= image_tag "taverna_lite/webservice.png", :size => "48x48", :alt => "WS",
             :class=>"componenticon" %>
       <%elsif item.type =="beanshell"%>
         <%= image_tag "taverna_lite/beanshell.png", :size => "48x48", :alt => "WS",
             :class=>"componenticon" %>
       <%elsif item.type =="component"%>
         <%= image_tag "taverna_lite/taverna-component-05.png", :size => "48x48", :alt => "WS",
             :class=>"componenticon" %>
       <%else%>
         <b> <%= item.type %> |</b>
       <% end %>
     </div>
     <div class="desc_div">
       <b><< <%= label_tag item.type %> >></b><br/>
       <b><%= label_tag componentname %></b>
     </div>
   </li>
 <% end %>
  <%if @sinks.count > 0 %>
   <li id="Outputs" class="ui-widget-content" >
     <div style="float: left;width:20%">
         <%= image_tag "taverna_lite/outputport.png", :size => "48x48", :alt => "output" %>
     </div>
     <div class="desc_div">
       <b><< Outputs >></b>
     </div>
   </li>
  <% end %>
</ol>
<% else %>
  <p>
    <b> This workflow has no components </b>
  </p>
<% end %>
</div>
</div>
<div style="clear:both;"/>
<br/>
