<p id="notice"><%= notice %></p>

<p>
  <b>Feature model:</b>
  <%= @feature_model_metadatum.feature_model_id %>
</p>

<p>
  <b>Description:</b>
  <%= @feature_model_metadatum.description %>
</p>

<p>
  <b>Creator:</b>
  <%= @feature_model_metadatum.creator %>
</p>

<p>
  <b>Email:</b>
  <%= @feature_model_metadatum.email %>
</p>

<p>
  <b>Date:</b>
  <%= @feature_model_metadatum.date %>
</p>

<p>
  <b>Department:</b>
  <%= @feature_model_metadatum.department %>
</p>

<p>
  <b>Organisation:</b>
  <%= @feature_model_metadatum.organisation %>
</p>

<p>
  <b>Address:</b>
  <%= @feature_model_metadatum.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @feature_model_metadatum.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @feature_model_metadatum.website %>
</p>

<p>
  <b>Reference:</b>
  <%= @feature_model_metadatum.reference %>
</p>


<%= link_to 'Edit', edit_feature_model_metadatum_path(@feature_model_metadatum) %> |
<%= link_to 'Back', feature_model_metadata_path %>
