<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface provided to support the
# inspection and modification of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>

<div id="Inputs_component" class="div_component" style="display:none;">

<% if @inputs.count>0 %>
  <%= button_tag image_tag('taverna_lite/help.png'),
    :id=>"inputs_dialog_opener", :style=>"padding: 0; border: none;
    background: none; float: right;", :alt => "Customise Input Help" %>
<%= form_for :port_annotations,
      :url => {:controller => 'workflow_ports', :action => 'save_custom_inputs'},
      :html => {:multipart => true, :id=>"edit_inputs"},
      :disable_with => "Saving..." do |f| -%>
  <%= hidden_field_tag "workflow_id", @workflow.id %>
  <%= hidden_field_tag "selected_tab", 'components' %>
  <%= hidden_field_tag "selected_choice", 'inputs' %>
  <% @inputs.each do |item| %>
     <!-- Get the original sample and description values from t2flow -->
     <% portname = item.name %>
     <% example_value = item.example.blank? ? "": item.example -%>
     <% descr = item.description.blank? ? "" : item.description -%>
     <div class="port_details">
     <h3> <%= portname %> </h3>
     <div class='basic_annotation'>
     <dl class='list_any'>
       <dt class='list_title'>Name:</dt>
       <dd class='list_description'>
         <% i_names = "'"+(@input_names-[item.name]).join(",")+"'" %>
         <%= f.text_field "name_for_#{portname}", :value => portname,
           :onkeyup=>"validate_name(this.id, #{i_names});", :style =>'width:95%'%>
         <%= content_tag :span, "ERROR", :style=>"display:none",
           :id=>"error_for_port_annotations_name_for_#{portname}",
           :class=>"warning_message" %>
       </dd>
       <dt class='list_title'>Description:</dt>
       <dd class='list_description'>
         <%= f.text_area "description_for_#{portname}", :value => descr, :rows => 3,
           :style =>'width:95%'  %>
       </dd>
       <dt class='list_title'>Example Value:</dt>
       <dd class='list_description'>
         <%= f.text_area portname, :value => example_value, :rows => 3,
           :style =>'width:95%' %>
       </dd>
       </dl>
       </div><!--Basic Anotations div-->
       <span class="more_options">Advanced Customisation</span>
       <%= link_to image_tag('taverna_lite/unfold.png'),
        "javascript:hide_show_div('advanced_#{portname}', 'switch_#{portname}');",
        :id=>"switch_#{portname}",
        :title=>"show advanced options", :alt=>"show advanced options" -%>
       <div id="advanced_<%= portname %>" class='advanced_annotation' style="display:none">
       <dl class='list_any'>
       <dt class='list_title'>Value Type:</dt>
       <dd class='list_description'>
         <%= f.select "type_for_#{portname}",
           options_for_select([["string", 1],["integer", 2], ["float", 3],
                               ["census table", 4]], item.example_type_id) %>
       </dd>
       <dt class='list_title'>Example File:</dt>
       <dd class='list_description'>
         <%= f.file_field  "file_for_#{portname}" %>
         <%= item.sample_file.nil? ? "No sample" : "Current: " + item.sample_file -%>
       </dd>
       <dt class='list_title'>Input Type:</dt>
       <dd class='list_description'>
         <%= f.select "display_for_#{portname}",
           options_for_select([["value or file (Default)", 1],
                               ["value", 2], ["file", 3]], item.display_control_id) %>
       </dd>
       <dt class='list_title'>
         Show:
       </dt>
       <dd class='list_description'>
         <%= f.check_box "show_#{portname}", :checked => item.show %>
         <%= image_tag "taverna_lite/eye.png", :alt => "Show/Hide"%>
       </dd>
       <!-- Add a preview that shows how data will be displayed according with
            the selected input control-->
       <!-- Create a control for displaying file contents on demand -->
       <!-- If file is present add a button link to it -->
     </dl>
     </div><!--Advanced Anotations div-->
     </div><!--Port div-->
   <% end %>
   <div title="Save Input Changes" alt="Save Input Changes" style="float:right; padding:10px;">
     <%= submit_tag 'Save' %>
   </div>
   <div style="clear:both;"></div>
  <% end -%> <!--form-->
<% else %>
  <p>
    <b> This workflow has no inputs </b>
  </p>
<% end %> <!--if output.count-->
</div>
<div id="inputs_dialog" title="Customise Inputs Help" >
  <%= render(:partial=>'taverna_lite/workflow_ports/input_instructions')%>
</div>
<script>
  $( "#inputs_dialog" ).dialog({
    autoOpen: false,
    position: {
            my: "right",
            at: "right",
            of: window
        }
  });
  $( "#inputs_dialog_opener" ).click(function() {
    $("#inputs_dialog" ).dialog( "open" );
    return false;
  });
  $('form').submit(function() {
    if (!ValidateForm()){
      return false; // prevents normal behaviour
    }
  });
 </script>


