<h1>Listing results</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Depth</th>
    <th>Run</th>
    <th>Filetype</th>
    <th>Filepath</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.name %></td>
    <td><%= result.depth %></td>
    <td><%= result.run_id %></td>
    <td><%= result.filetype %></td>
    <td><%= result.filepath %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
