<h1>Listing feature_trees</h1>

<table>
  <tr>
    <th>Feature model</th>
    <th>Parent node</th>
    <th>Name</th>
    <th>Feature type</th>
    <th>Cardinality lower bound</th>
    <th>Cardinality upper bound</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feature_trees.each do |feature_tree| %>
  <tr>
    <td><%= feature_tree.feature_model_id %></td>
    <td><%= feature_tree.parent_node_id %></td>
    <td><%= feature_tree.name %></td>
    <td><%= feature_tree.feature_type_id %></td>
    <td><%= feature_tree.cardinality_lower_bound %></td>
    <td><%= feature_tree.cardinality_upper_bound %></td>
    <td><%= link_to 'Show', feature_tree %></td>
    <td><%= link_to 'Edit', edit_feature_tree_path(feature_tree) %></td>
    <td><%= link_to 'Destroy', feature_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feature tree', new_feature_tree_path %>
