<%= form_for(@alternative_component) do |f| %>
  <% if @alternative_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternative_component.errors.count, "error") %> prohibited this alternative_component from being saved:</h2>

      <ul>
      <% @alternative_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component_id %><br />
    <%= f.number_field :component_id %>
  </div>
  <div class="field">
    <%= f.label :alternative_id %><br />
    <%= f.number_field :alternative_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
